[submodule "themes/martial-paper"]
	path = themes/martial-paper
	url = https://github.com/pedrodude/martial-paper
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme
